dist
dist-newstyle
.stack-work
.HTF
\#*#
*~
*~0
*~1
*.lkshs
*.lkshw
*/*.lkshs
*/*.lkshw
unused.txt
*.autosave*
*.lock
*.yaml.lock
cabal.project.local
ideaHaskellLib
out
testForLitText
*.bak
*.mdnew
*.md.*
*.new
